.favourites {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.favourites__container {
  width: 90%;
  margin-top: 20px;
}

.favourites__container input{
  border-radius: 10px;
  padding: 5px;
  width: 300px;
  border:1px solid #cccccc;
  color:#0f0f0f;
  font-weight: 600;
  margin-right: 20px;
}

.active__btn {
  color: rgb(65, 65, 229);
}
.btn {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.4s;
}

.btn:hover {
  border-color: silver;
}

.favourites__movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px 10px;
  text-align: center;
}

.favourites__deleteAll {
  display: inline-block;
  background-color: #ff0000;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.4s;
  color:#fff
}
